# Expo
.expo
.expo-shared
dist/
web-build/

# Dependencies
node_modules/

# Environment
.env
.env.local

# Build
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/
ios/

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.temp
web-build/
dist/
